<html>
<body>
	<div>
		<h1>クラシックシンフォニー楽団のページへようこそ</h1>
		<h2>お知らせ</h2>
		<p>{{ information }}</p>
	</div>
	<form action="/hello" method="post">
		<input type="text" name="input">
		<input type="submit" value="Click">
	</form> 
</body>
</html>
