{% extends 'base2.html.twig' %}
{% import 'macro.html.twig' as m %}


{% block body %}
    <style>
        input {
            margin-left:70px;
            width:700px;
            height:30px;
            line-height:20px;
            border:3px solid lightgray;
            border-radius:3px;
            margin-top:50px;
            padding-left:15px;
            font-size:15px;
        }
        ::placeholder {
            color:lightgray;
        }
    </style>
    <div class="search">
        <form action="/blog/search/result" method="post">
            <input type="text" name="search_article" placeholder="検索する...">
        </form>
    </div>
    {% for item in result %}
        {{ m.article( item.title, item.date,item.author,item.content, item.id)}}
    {% endfor %}
{% endblock %}